@use '../base/globals' as *;
@use '../abstract/mixins' as *;
header {
    button {
        border: none;
        background: none;
    }
}

.navbar {
    @extend .flex-row;
    justify-content: space-between;

    &_nav-links,
    &_auth-btns {
        @extend .hidden;
    }

    &_auth-btns {
        a {
            padding: 16px 35px;
            border-radius: 100px;
        }
    }
}

@include media-query('md') {
    .navbar_nav-links {
        order: 4;
    }
    .navbar_logo {
        order: 2;
    }

    .navbar_auth-btns {
        order: 3;
        display: block;
    }
}

@include media-query('lg') {
    .navbar_logo {
        order: 1;
    }
    .navbar_nav-links {
        order: 2;
        display: flex;
        gap: 6.4rem;
    }
    .navbar_auth-btns {
        order: 3;
    }
    .navbar_hamburger-btn {
        display: none;
    }
}
