//TODO
@use '../abstract/index.scss' as *;
@use '../components/index' as *;
@use '../components/button' as *;
#hamburger-btn {
    border: none;
    background: none;
}

.navbar {
    a {
        text-decoration: none;
    }
    li {
        width: 90vw;
    }
    &_nav-links {
        display: none;
        a {
            color: $black-50;
        }
        a:hover {
            color: $black;
        }
        order: 3;
    }
    &_auth-links {
        display: none;
        order: 4;
    }
    li {
        list-style-type: none;
        text-align: center;
        margin-top: 1rem;
    }
    ul {
        margin: 0;
    }
    &_signup {
        font-size: 14px;
        padding: 16px 35px;
        border-radius: 100px;
    }
    display: flex;
    flex-wrap: wrap;
    max-width: 1192px;
    justify-content: space-between;
    align-items: center;
}

@include media-query('md') {
    .navbar_logo {
        order: 2;
    }
    .navbar_nav-links {
        order: 4;
    }
    .navbar_auth-links {
        display: block;
        order: 3;
        li {
            display: inline;
            width: auto;
        }
    }
}

@include media-query('lg') {
    header {
        margin-top: 50px;
        margin-left: 50px;
    }
    .navbar {
        margin: auto;
    }
    .navbar_logo {
        order: 1;
    }
    .navbar_nav-links {
        padding-right: 30px;
        display: flex;
        order: 2;
        gap: 4rem;
    }
    .navbar_auth-links {
        display: flex;
        align-items: center;
        gap: 32px;
        order: 3;
    }
    #hamburger-btn {
        order: 4;
        display: none;
    }
    .navbar {
        li {
            display: inline;
            width: auto;
        }
        gap: 1rem;
    }
}
