@use '../base/index' as *;
@use '../abstract/index' as *;

.header {
    z-index: $header-z-index;
}

.navbar {
    padding: px-to-rem(28) 0 px-to-rem(10) 0;
    margin-top: px-to-rem(10);
    padding-right: px-to-rem(5);
    $nav: &;
    background-color: $white;
    @include flex-property(
        $justify-content: space-between,
        $align-items: center
    );

    &__list {
        @include font-property($size: $text-sm);
    }
    &__list,
    &__auth-btns {
        display: none;
    }

    &__item {
        color: $midnight-express-50;
        min-width: max-content;
        max-width: px-to-rem(440);
        text-align: center;
        list-style-type: none;
    }

    &__link {
        @include pseudo-interactive-states {
            color: $black-pearl;
        }
    }
    &--active {
        #{$nav}__list {
            @include flex-property(
                $direction: column,
                $gap: px-to-rem(20),
                $align-items: center
            );
            z-index: $menu-z-index;
            margin-top: px-to-rem(20);
            height: 100vh;
            width: 100vw;
            background-color: $white;
            min-width: 0;
            @include position-property(
                $position: absolute,
                $top: 0,
                $left: 50%,
                $x: -50%,
                $y: 60px
            );
        }
        #{$nav}__auth-btns {
            z-index: $menu-z-index;

            width: 100vw;
            @include flex-property($direction: column, $align-items: center);
            @include position-property(
                $position: absolute,
                $top: 0,
                $left: 50%,
                $x: -50%,
                $y: px-to-rem(210)
            );
        }
    }
    @include media-query('md') {
        margin-top: px-to-rem(5);
        padding-left: px-to-rem(3);
        padding-right: px-to-rem(1);
        #{$nav}__auth-btns {
            all: unset;
            @include flex-property();

            order: 3;
        }

        #{$nav}__logo-wrapper {
            padding-left: px-to-rem(172);
            order: 2;
        }
        #{$nav}__menu-btn {
            order: 1;
        }
    }

    @include media-query('lg') {
        margin-top: px-to-rem(37);
        margin-bottom: px-to-rem(37);

        #{$nav}__list {
            all: unset;
            @include flex-property($gap: px-to-rem(64));
            @include font-property($size: $text-sm);
        }
        #{$nav}__menu-btn {
            display: none;
        }

        #{$nav}__logo-wrapper {
            order: 1;
            padding: 0;
        }
        #{$nav}__list {
            order: 2;
        }
        #{$nav}__item {
            max-width: px-to-rem(100);
        }
    }
}
