//TODO : Styles For Hero Section
@use '../components/index' as *;
@use '../abstract/index' as *;
@use '../base/index' as *;

.hero {
    margin-top: px-to-rem(65);
    @include flex-property(
        $direction: column,
        $align-items: center,
        $gap: 35px
    );

    &__image {
        width: 100%;
    }
    &__chip {
        @extend .chip;
        @include font-property($size: $text-sm);
        .chip__text {
            margin-top: 3px;
        }
        .icon-suitcase {
            @include font-property($size: $base-icon-size);
        }
    }

    &__text-content {
        @include flex-property(
            $direction: column,
            $align-items: center,
            $gap: 1.6rem
        );
    }

    &__heading {
        margin-top: px-to-rem(5);
        @include font-property(
            $weight: $font-weight-bold,
            $size: $hero-heading-sm,
            $line-height: 1.2
        );
        @include text-property($wrap: wrap, $align: center);
    }
    &__description {
        margin-top: px-to-rem(5);
        @include font-property(
            $family: $inter,
            $weight: $font-weight-normal,
            $size: 16px,
            $color: $midnight-express-50,
            $line-height: 1.6
        );
        @include text-property($wrap: wrap, $align: center);
    }
    &__buttons {
        margin-top: px-to-rem(18);
        width: 100%;
        @include flex-property(
            $direction: column,
            $align-items: center,
            $gap: 2.4rem
        );
    }

    &__btn {
        aspect-ratio: 6.4;
        width: 100%;
    }

    .icon-play {
        font-size: $base-icon-size;
    }

    &__pattern {
        display: none;
    }

    @include media-query('md') {
        @include flex-property(
            $direction: column,
            $align-items: center,
            $gap: px-to-rem(61)
        );

        margin-top: px-to-rem(97);
        &__image {
            margin-left: px-to-rem(17);
            width: px-to-rem(788);
        }
        .chip__text {
            margin-top: 3px;
        }
        &__pattern {
            display: block;
            width: px-to-rem(65);
            height: px-to-rem(169);
            @include position-property(
                $position: absolute,
                $left: 3%,
                $bottom: 1%
            );
        }
        &__text-content {
            padding: 0 10px;
            @include flex-property(
                $direction: column,
                $align-items: center,
                $gap: 4.2rem
            );
        }
        &__text-content__heading {
            @include font-property(
                $weight: $font-weight-bold,
                $size: $hero-heading-md,
                $line-height: 1.2
            );

            @include text-property($wrap: balance, $align: center);
        }

        &__description {
            margin: 0;
            padding: 0 215px;
            @include font-property(
                $family: $inter,
                $weight: $font-weight-normal,
                $size: $text-md,
                $color: $midnight-express-50,
                $line-height: 1.6
            );
            @include text-property($wrap: wrap, $align: center);
        }

        &__buttons {
            width: auto;
            margin: 0;
            @include flex-property($gap: 1.6rem);
            button {
                width: max-content;
                padding: 1.6rem 3.2rem;
                border-radius: 10rem;
            }
        }

        &__btn {
            width: auto;
            aspect-ratio: auto;
        }
    }

    @include media-query('lg') {
        margin-top: px-to-rem(90);
        max-width: 100%;
        @include flex-property($direction: row-reverse);

        &__image {
            margin-left: 0;
            margin-right: px-to-rem(100);
            width: px-to-rem(788);
        }

        &__text-content {
            @include flex-property(
                $direction: column,
                $align-items: flex-start,
                $gap: 4.3rem
            );
            padding: 0;
            padding-left: 130px;
            margin-top: 68px;

            @include flex-property($direction: column, $gap: 4.3rem);
        }
        &__text-content__heading {
            @include font-property(
                $weight: $font-weight-bold,
                $size: $hero-heading-lg,
                $line-height: 1.2
            );
            @include text-property($wrap: balance, $align: left);
        }

        &__chip {
            margin-right: 64px;
        }

        &__description {
            padding: 0 0;
            @include line-clamp(3);
            @include font-property(
                $family: $inter,
                $weight: $font-weight-normal,
                $size: $text-md,
                $color: $midnight-express-50,
                $line-height: 1.6
            );
            @include text-property($wrap: wrap, $align: left);
        }

        &__buttons {
            margin-top: px-to-rem(29);
        }

        &__pattern {
            @include position-property(
                $position: absolute,
                $top: 103%,
                $left: 3%,
                $x: -2px,
                $y: -3px
            );
        }
    }
}
