@use '../abstract/index' as *;
.key-features {
    width: 100%;
    margin-top: px-to-rem(95);
    @include flex-property($direction: column, $align-items: center);
    &__text-content {
        margin-top: px-to-rem(106);
        @include flex-property(
            $direction: column,
            $gap: px-to-rem(16),
            $align-items: center
        );
        padding: 0 px-to-rem(8);
        text-align: center;

        @include media-query('md') {
            padding: 0;
            margin-top: px-to-rem(68);
        }

        @include media-query('lg') {
            margin-top: px-to-rem(43);
            margin-left: px-to-rem(24);
            max-width: px-to-rem(559);
            width: 100%;
            text-align: left;

            @include flex-property(
                $direction: column,
                $align-items: flex-start,
                $gap: px-to-rem(16)
            );
        }
    }
    &__image-wrapper {
        height: px-to-rem(439);
        @include media-query('md') {
            height: auto;
            max-width: px-to-rem(693);
            max-height: px-to-rem(869);
        }

        @include media-query('lg') {
            margin-top: px-to-rem(38);
        }
    }

    &__description {
        margin-top: px-to-rem(16);
        padding: 0 px-to-rem(30);

        @include media-query('lg') {
            padding: 0;
        }
    }

    &__cards {
        padding: 0 px-to-rem(21);
        margin-top: px-to-rem(8);

        @include media-query('md') {
            width: 100%;
            padding: 0;
            margin-left: 0;
            padding: 0 px-to-rem(32);
            box-sizing: border-box;
            margin-top: px-to-rem(50);
        }

        @include media-query('lg') {
            padding: 0;
            margin-top: px-to-rem(45);
        }
    }

    @include media-query('md') {
        margin-top: px-to-rem(130);
    }

    @include media-query('lg') {
        margin-top: px-to-rem(82);
        transform: translateX(58px);
        @include flex-property($direction: row-reverse, $gap: px-to-rem(70));
    }
}
