//TODO : Styles for services section
@use '../abstract/index' as *;

.service {
    margin-top: px-to-rem(66);
    @include flex-property(
        $direction: column,
        $gap: px-to-rem(30),
        $align-items: center
    );

    &__text-content {
        text-align: center;
    }

    &__heading {
        margin-bottom: px-to-rem(16);
    }

    &__subheading {
        margin-top: px-to-rem(16);
    }

    &__cards {
        @include flex-property(
            $direction: column,
            $gap: px-to-rem(16),
            $align-items: center
        );
    }
    @include media-query('md') {
        margin-top: px-to-rem(130);
        gap: px-to-rem(64);
        &__cards {
            @include flex-property($gap: px-to-rem(16));
        }
    }

    @include media-query('lg') {
        margin-top: px-to-rem(123);
        padding: 0 px-to-rem(3);
        @include flex-property($direction: row, $align-items: center);
        &__cards {
            @include flex-property($gap: px-to-rem(21));
        }
        &-card:last-of-type {
            display: none;
        }

        &__text-content {
            margin-top: px-to-rem(38);
            text-align: left;
        }
    }
}
