@use '../abstract/index' as *;

.testimonial {
    &__bg {
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('src/assets/images/testimonial-bg.svg');
        height: px-to-rem(950);
        width: px-to-rem(25000);
        position: absolute;
        z-index: -1;
    }

    position: relative;

    @include flex-property(
        $direction: column,
        $gap: px-to-rem(16),
        $align-items: center
    );

    &__cards {
        @include media-query('md') {
            margin-top: px-to-rem(32);
        }
    }

    &-card {
        margin-top: px-to-rem(48);

        @include media-query('md') {
            margin-top: px-to-rem(35);
        }
    }

    @include media-query('md') {
        margin-top: px-to-rem(16);
    }

    &__bg-wrapper {
        height: 1px;
        width: 1px;
    }

    &__btn {
        height: 64px;
        width: 64px;
        position: absolute;
        top: 120%;
        @include media-query('md') {
            top: 45%;
            height: 100px;
            width: 100px;
        }

        &--next {
            background-color: $state-blue;
            transform: translate(10px, 15px);
        }

        &--prev {
            background-color: $white;
            transform: translate(-10px, 20px);

            @include media-query('md') {
            }
        }
    }
}
