@use '../abstract/index' as *;

.accordion-card {
    width: 100%;
    &__header {
        @include line-clamp(1);
        @include flex-property($justify-content: space-between);
        max-width: px-to-rem(400);
        @include media-query('md') {
            i[class^='icon-'] {
                display: none;
            }
        }

        i[class^='icon-'] {
            font-size: px-to-rem(24);
            transition: transform 20ms ease-in-out;
        }

        .toggle-icon {
            transform: rotate(180deg);
        }
    }

    &__item {
        @include line-clamp(3);
    }

    &__content {
        margin-top: px-to-rem(32);
        @include line-clamp(2);
        max-height: 0;
        overflow: hidden;
        transition: max-height 200ms ease-in-out;
        &.active {
            max-height: 800px;
        }
        @include flex-property($direction: column, $gap: px-to-rem(16));

        @include media-query('md') {
            max-height: 800px;
            @include flex-property($direction: column, $gap: px-to-rem(32));
        }
    }
}
