// TODO button component
@use '../abstract/index' as *;
@use '../base/typography' as *;
.btn {
    &--primary {
        background-color: $state-blue;
        color: $white-smoke;
        border: none;
        border-radius: $btn-radius;
        @include font-property(
            $family: $circular-std,
            $weight: $font-weight-bold,
            $size: px-to-rem($text-sm)
        );
    }

    &--ghost {
        background-color: inherit;
        color: $black-pearl;
        border: none;
        border-radius: $btn-radius;
        @include font-property(
            $family: $circular-std,
            $weight: $font-weight-bold,
            $size: px-to-rem($text-sm)
        );
    }

    &--secondary-outline {
        background-color: inherit;
        color: $black-pearl;
        border: 1px solid $white-smoke;
        border-radius: $btn-radius;
        @include font-property(
            $family: $circular-std,
            $weight: $font-weight-bold,
            $size: px-to-rem($text-sm)
        );
    }
}
