// TODO button component
@use '../abstract/index' as *;

.primary-btn {
    background-color: $state-blue;
    color: $white-smoke;
}

.ghost-btn {
    background-color: inherit;
    color: $black-pearl;
}
