@use '../abstract/index' as *;
@use '../base/index' as *;
.services-card {
    @include flex-property($direction: column, $align-items: center);
    border-radius: $service-card-radius;
    &__image-wrapper {
        width: 50px;
    }

    &__title {
        margin-top: px-to-rem(32);
        @include text-property($align: center, $wrap: wrap);
        @include font-property(
            $family: $circular-std,
            $weight: $font-weight-bold,
            $size: $service-card-title
        );
    }

    &__description {
        margin-top: px-to-rem(32);
        @include font-property(
            $family: $inter,
            $weight: $font-weight-normal,
            $size: $service-card-description,
            $color: $midnight-express-50
        );
        @include text-property($align: center, $wrap: wrap);
    }

    @include pseudo-interactive-states() {
        box-shadow: $service-card-shadow;
    }
    padding: px-to-rem(32);
    @include media-query('md') {
        padding: px-to-rem(64);
        &__title {
            margin-top: px-to-rem(64);
        }
    }
}
