@use '../abstract/index' as *;
@use '../base/index' as *;
.service-card {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    @include flex-property(
        $direction: column,
        $align-items: center,
        $gap: px-to-rem(32)
    );
    border-radius: $card-radius;
    &__image-wrapper {
        width: 64px;
    }
    padding: px-to-rem(32);

    &__title {
        @include text-property($align: center, $wrap: wrap);
        @include font-property(
            $family: $circular-std,
            $weight: $font-weight-bold,
            $size: $service-card-title,
            // 24px;
            $line-height: 1.2
        );
        max-width: 90%;
    }

    &__description {
        padding: 0 29px;
        @include font-property(
            $family: $inter,
            $weight: $font-weight-normal,
            $size: $service-card-description,
            // 18px;
            $color: $midnight-express-50,
            $line-height: 1.6
        );
        @include text-property($align: center, $wrap: wrap);
        max-width: 100%;
    }
    &__text-content {
        @include flex-property(
            $direction: column,
            $align-items: center,
            $gap: 32px
        );
        max-width: 90%;
    }
    @include pseudo-interactive-states() {
        box-shadow: $service-card-shadow;
    }
    @include media-query('md') {
        @include flex-property(
            $direction: column,
            $gap: px-to-rem(64),
            $align-items: center
        );
        padding: px-to-rem(64);

        &__title {
            @include font-property(
                $family: $circular-std,
                $weight: $font-weight-bold,
                $size: 28px,
                // 28px;
                $line-height: 1.2
            );
        }

        &__description {
            padding: 0;
        }
    }
}
