@use '../abstract/index' as *;
.chip {
    max-width: px-to-rem(400);
    @include flex-property($gap: 1.9rem, $align-items: center);
    box-shadow: $chip-shadow;
    padding: 1.6rem 3.2rem;
    border-radius: $btn-radius;
    width: max-content;

    i[class^='icon-'] {
        @include font-property($size: $base-icon-size);
    }
}
