@use '../abstract/index' as *;
@use '../base/index' as *;
.stats-card {
    padding: px-to-rem(32);
    border-radius: $card-radius;
    border: 1px solid $midnight-express-10;
    box-sizing: border-box;
    height: px-to-rem(151);

    @include flex-property(
        $direction: column,
        $gap: px-to-rem(16),
        $align-items: center
    );

    &__title {
        @extend .inline-ellipsis;
        max-width: px-to-rem(300);
        text-wrap: nowrap;
    }
}
