@use '../abstract/index' as *;

.testimonial-card {
    @include flex-property(
        $direction: column,
        $align-items: center,
        $gap: px-to-rem(32)
    );
    // max-width: 100%;
    &__profile-wrapper {
        width: px-to-rem(128);
        height: px-to-rem(128);
    }

    &__user-info {
        text-align: center;
        margin-top: px-to-rem(32);
        .user-info__name {
            color: $outrageous-orange;
        }
    }

    &__rating {
        @include flex-property($gap: 16px);
    }
    &__review {
        text-align: center;
        margin-top: px-to-rem(32);
        @include media-query('md') {
            padding: 0 px-to-rem(156);
            margin-top: px-to-rem(25);
        }

        @include media-query('lg') {
            padding: 0 px-to-rem(176);
            margin-top: px-to-rem(20);
        }
    }
}
