$french-rose: #f85e9f;
$midnight-express: rgba(25, 24, 37, 1);
$midnight-express-50: rgba(25, 24, 37, 0.5);
$midnight-express-75: rgba(25, 24, 37, 0.75);
$white-smoke: #eeeeee;
$black-pearl: #222831;
$outrageous-orange: #ff5722;
$state-blue: #5d50c6;
$kournikova: #facd49;
$zircon: #f1f2f2;
$white: #ffff;
$black: black;
