@use './variables' as *;
@use 'sass:map';

@mixin media-query($screen) {
    @if map-has-key($map: $breakpoints, $key: $screen) {
        @media (min-width: map.get($breakpoints,$screen)) {
            @content;
        }
    }
}

@mixin font-face($name, $source, $weight, $style: 'normal') {
    @font-face {
        font-family: $name;
        src: url($source) format('truetype');
        font-weight: $weight;
        font-style: $style;
        display: swap;
    }
}
