@use './colors' as *;

// icomoon path and family name
$icomoon-font-family: 'icomoon';
$icomoon-font-path: '../assets/icomoon';

// icomoon content variables
$icon-arrow-circle-down9-1: '\e90b';
$icon-Group-path1: '\e90c';
$icon-Group-path2: '\e90d';
$icon-Group-8-path1: '\e90e';
$icon-Group-8-path2: '\e90f';
$icon-Group-1: '\e910';
$icon-menu11-1: '\e911';
$icon-message-1: '\e912';
$icon-arrow: '\e900';
$icon-arrow-head: '\e901';
$icon-calendar: '\e902';
$icon-coupon: '\e903';
$icon-facebook: '\e904';
$icon-location-pointer: '\e905';
$icon-paper-plane: '\e906';
$icon-play: '\e907';
$icon-rating: '\e908';
$icon-suitcase: '\e909';
$icon-user-add: '\e90a';

// service card shadow (h v blur spread color)
$service-card-shadow: 0 41px 89px 0 rgba(0, 0, 0, 0.1);
$stats-card-shadow: 0 41px 89px 0 rgba(0, 0, 0, 0.1);
// chip shadow (h v blur spread color)
$chip-shadow: 0 34px 75px 0 rgba(0, 0, 0, 0.2);

//card border radius
$card-radius: 3.2rem;

// breakpoints for different device sizes

$breakpoints: (
    'md': 768px,
    'lg': 1208px,
);

$font-path: '../assets/fonts';
$inter: 'inter';
$circular-std: 'circular-std';
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-black: 900;
$btn-radius: 10rem;

$menu-z-index: 2;
$header-z-index: 4;

//fonts map
$fonts-map: (
        'name': $inter,
        'source': '#{$font-path}/#{$inter}/#{$font-weight-normal}.ttf',
        'weight': $font-weight-normal,
    ),
    (
        'name': $circular-std,
        'source': '#{$font-path}/#{$circular-std}/#{$font-weight-normal}.ttf',
        'weight': $font-weight-normal,
    ),
    (
        'name': $circular-std,
        'source': '#{$font-path}/#{$circular-std}/#{$font-weight-bold}.ttf',
        'weight': $font-weight-bold,
    ),
    (
        'name': $circular-std,
        'source': '#{$font-path}/#{$circular-std}/#{$font-weight-black}.ttf',
        'weight': $font-weight-black,
    );
