// icomoon path and family name
$icomoon-font-family: 'icomoon' !default;
$icomoon-font-path: '../../assets/icomoon' !default;

// icomoon content variables
$icon-instagram: '\e90b';
$icon-twitter: '\e90c';
$icon-arrow: '\e900';
$icon-arrow-head: '\e901';
$icon-calendar: '\e902';
$icon-coupon: '\e903';
$icon-facebook: '\e904';
$icon-location-pointer: '\e905';
$icon-paper-plane: '\e906';
$icon-play: '\e907';
$icon-rating: '\e908';
$icon-suitcase: '\e909';
$icon-user-add: '\e90a';

//box shadow for services section
$services-card-shadow-blur: 89px;
$services-card-shadow-y: 41px;
$services-card-shadow-color: rgba(0, 0, 0, 0.1);

//roboto font

$fonts: (
        'name': 'roboto-medium',
        'src': '../../assets/fonts/roboto/Roboto-Regular.ttf',
        'wt': 400,
    ),
    (
        'name': 'roboto-bold',
        'src': '../../assets/fonts/roboto/Roboto-Bold.ttf',
        'wt': 700,
    );
