@use './colors' as *;

// icomoon path and family name
$icomoon-font-family: 'icomoon';
$icomoon-font-path: '../assets/icomoon';

// icomoon content variables
$icon-instagram: '\e90b';
$icon-twitter: '\e90c';
$icon-arrow: '\e900';
$icon-arrow-head: '\e901';
$icon-calendar: '\e902';
$icon-coupon: '\e903';
$icon-facebook: '\e904';
$icon-location-pointer: '\e905';
$icon-paper-plane: '\e906';
$icon-play: '\e907';
$icon-rating: '\e908';
$icon-suitcase: '\e909';
$icon-user-add: '\e90a';

// service card shadow (h v blure spread color)
$service-card-shadow: 0 41px 89px 0 rgba(0, 0, 0, 0.1);

// breakpoints for different device sizes

$breakpoints: (
    'md': 768px,
    'lg': 1208px,
);

$font-path: '../../assets/fonts';
$inter: 'inter';
$circular-std: 'circular-std';
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-black: 900;

//fonts map
$fonts-map: (
        'name': $inter,
        'source': '#{$font-path}/inter/400.ttf',
        'weight': $font-weight-normal,
        'style': 'normal',
        'color': $midnight-express-50,
    ),
    (
        'name': $inter,
        'source': '#{$font-path}/inter/400.ttf',
        'weight': $font-weight-normal,
        'style': 'normal',
        'color': $midnight-express-75,
    ),
    (
        'name': $circular-std,
        'source': '#{$font-path}/circular-std/400.ttf',
        'weight': $font-weight-normal,
        'style': 'normal',
        'color': $midnight-express-75,
    ),
    (
        'name': $circular-std,
        'source': '#{$font-path}/circular-std/700.ttf',
        'weight': $font-weight-bold,
        'style': 'normal',
        'color': $midnight-express-75,
    ),
    (
        'name': $circular-std,
        'source': '#{$font-path}/circular-std/900.ttf',
        'weight': $font-weight-black,
        'style': 'normal',
        'color': $midnight-express-75,
    ),
    (
        'name': $circular-std,
        'source': '#{$font-path}/circular-std/400.ttf',
        'weight': $font-weight-normal,
        'style': 'normal',
        'color': $midnight-express-50,
    ),
    (
        'name': $circular-std,
        'source': '#{$font-path}/circular-std/700.ttf',
        'weight': $font-weight-bold,
        'style': 'normal',
        'color': $midnight-express-50,
    ),
    (
        'name': $circular-std,
        'source': '#{$font-path}/circular-std/900.ttf',
        'weight': $font-weight-black,
        'style': 'normal',
        'color': $midnight-express-50,
    ),
    (
        'name': $circular-std,
        'source': '#{$font-path}/circular-std/400.ttf',
        'weight': $font-weight-normal,
        'style': 'normal',
        'color': $midnight-express,
    ),
    (
        'name': $circular-std,
        'source': '#{$font-path}/circular-std/700.ttf',
        'weight': $font-weight-bold,
        'style': 'normal',
        'color': $midnight-express,
    ),
    (
        'name': $circular-std,
        'source': '#{$font-path}/circular-std/900.ttf',
        'weight': $font-weight-black,
        'style': 'normal',
        'color': $midnight-express,
    ),
    (
        'name': $circular-std,
        'source': '#{$font-path}/circular-std/400.ttf',
        'weight': $font-weight-normal,
        'style': 'normal',
        'color': $french-rose,
    ),
    (
        'name': $circular-std,
        'source': '#{$font-path}/circular-std/700.ttf',
        'weight': $font-weight-bold,
        'style': 'normal',
        'color': $french-rose,
    ),
    (
        'name': $circular-std,
        'source': '#{$font-path}/circular-std/900.ttf',
        'weight': $font-weight-black,
        'style': 'normal',
        'color': $french-rose,
    ),
    (
        'name': $circular-std,
        'source': '#{$font-path}/circular-std/700.ttf',
        'weight': $font-weight-bold,
        'style': 'normal',
        'color': $black-pearl,
    ),
    (
        'name': $circular-std,
        'source': '#{$font-path}/circular-std/700.ttf',
        'weight': $font-weight-bold,
        'style': 'normal',
        'color': $white-smoke,
    ),
    (
        'name': $circular-std,
        'source': '#{$font-path}/circular-std/700.ttf',
        'weight': $font-weight-bold,
        'style': 'normal',
        'color': $outrageous-orange,
    );
