@use 'base/fonts' as *;
@use 'base/colors' as *;
@use 'base/variables' as *;
@use 'abstract/breakpoint' as *;
// Base Styling icomoon

i {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: '#{$icomoon-font-family}' !important;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@each $key, $val in $icons {
    @each $colorName, $colorVal in $color-pallete {
        .#{$key}-#{$colorName} {
            &:before {
                content: $val;
                color: $colorVal;
            }
        }
    }
}

#dummy-text {
    color: $gray-scale;
    font-family: roboto monospace;
}

@include md {
    #dummy-text {
        color: $color-orange;
    }
}

@include lg {
    #dummy-text {
        color: $secondary;
    }
}
