@font-face {
    font-family: 'circular-std';
    src: url('../../assets/fonts/circular-std-medium-500.ttf');
}
@font-face {
    font-family: 'inter';
    src: url('../../assets/fonts/Inter-Italic-VariableFont_opsz\,wght.ttf');
}
