//TODO : global classes are going to be defined here
@use '../abstract/index' as *;

.container {
    margin: 0 auto;
    width: 100%;
    max-width: px-to-rem($container-sm);
    @include media-query('md') {
        max-width: px-to-rem($container-md);
    }
    @include media-query('lg') {
        max-width: px-to-rem($container-lg);
    }
}

.hidden {
    display: none;
}

.sticky {
    position: sticky;
    top: 0;
}
