//TODO : global classes are going to be defined here
@use '../abstract/index' as *;

.container {
    margin: 0 px-to-rem(16);
    // max-width: px-to-rem(398);
    @include media-query('md') {
        margin: 0 px-to-rem(64);
    }
    @include media-query('lg') {
        margin: 0 auto;
        max-width: px-to-rem(1193);
    }
}

.hidden {
    display: none;
}

.sticky {
    position: sticky;
    top: 0;
}

.inline-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
}
.french-rose-text {
    color: $french-rose;
}
