html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
address,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
form,
label,
footer,
header,
menu,
nav,
section,
button {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    max-width: inherit;
}

a,
button,
input:focus {
    outline: none;
}

html {
    // 1rem  =10px

    font-size: 62.5%;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
article,
footer,
header,
menu,
main,
nav,
section {
    display: block;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
img {
    max-height: 100%;
    height: auto;
    width: 100%;
}
