@use '../abstract/index' as *;
@use 'sass:map';
// Creation of Font face for all the fonts present in fonts-map
@each $font in $fonts-map {
    @include font-face(
        map.get($font, 'name'),
        map.get($font, 'source'),
        map.get($font, 'weight'),
        map.get($font, 'color')
    );
}

body {
    font-family: $circular-std;
    font-size: $text-base;
}

$hero-heading-sm: 40px;
$hero-heading-md: 56px;
$hero-heading-lg: 69px;

$text-sm: 14px;
$text-md: 18px;
$text-lg: 23px;

$base-icon-size: 22px;

$service-card-title: 24px;
$service-card-description: 18px;
$service-card-radius: 32px;

.h-primary {
    font-family: $circular-std;
    color: $french-rose;
    font-size: 16px;
    font-weight: $font-weight-bold;
    letter-spacing: 0.2em;
    line-height: 1.2;

    @include media-query('md') {
        $font-size: 23px;
    }
}

.h-secondary {
    font-family: $circular-std;
    color: $black-pearl;
    font-size: 32px;
    font-weight: $font-weight-bold;
    letter-spacing: 0;
    line-height: 1.2;

    @include media-query('md') {
        $font-size: 40px;
    }

    @include media-query('lg') {
        $font-size: 44px;
    }
}
